@media print {
    #non-printable {
        display: none;
    }

    #printable {
        display: block;
    }
}

.hidden {
    display: none;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), url("../images/paysage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.calendar {
    background-image: linear-gradient(#f5f5f5, lightgray);

}

.calendar td {
    border: 2px solid lightgray !important;
    text-align: center;
    cursor: pointer;
}

.panel {
    padding: 10px;
    margin-top: 30px;
    cursor: not-allowed;
    border: 2px solid #bcbcbc;
}

table {
    text-align: center;
}

.block-small {
    padding: 10px 0;
    min-height: 30px;
}

.tall {
    min-height: 100px;
}